#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: none;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #646cff;
  transition: background-color 0.2s;
}


img {
  height: 10em;
}