#root {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony {
    background-color: #0a0a23;
    color: white;
    max-width: 700px;
    width: 100%;
    min-height: 15em;
    height: 15em;
    display: flex;
    margin: 10px;
}

.testimony .content {
    text-align: justify;
}

.testimony .info {
    padding: 25px;
    width: 100%;
}

.testimony img {
    height: 100%;
}

@media screen and (max-width: 800px) {
    .testimony {
        flex-direction: column;
        width: 20em;
        height: auto;
    }

    .testimony .info {
        width: calc(100% - 50px);
    }

    .testimony img {
        width: 100%;
    }
}